@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@0,400;1,900&family=Archivo&family=Asap:ital@1&family=Shadows+Into+Light&family=Vina+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@0,400;1,900&family=Archivo:wght@400;900&family=Asap:ital@1&family=Shadows+Into+Light&family=Vina+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@0,400;1,900&family=Archivo:wght@600&family=Asap:ital@1&family=Shadows+Into+Light&family=Vina+Sans&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
}

/*COLOR*/
/*MY-RESETS*/
body {
  font-family: "Archivo", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.nowrap {
  flex-wrap: wrap-reverse;
}

.spw {
  justify-content: space-between;
}

.spc {
  justify-content: center;
}

.spa {
  justify-content: space-around;
}

.alc {
  align-items: center;
}

.alt {
  align-items: flex-start;
}

/*Style-Css*/
.header-top {
  background-color: rgba(227, 23, 64, 0.7568627451);
  padding: 0.7rem;
  color: white;
  font-size: 0.8rem;
}

.header-bottom {
  background-color: #bfb0b0;
  padding: 1.4rem;
}

.contact-nav {
  margin: 0 auto;
  max-width: 1370px;
}

.contact-nav ul li {
  margin-right: 1rem;
}

.contact-info i {
  margin-right: 0.3rem;
}

.brand .brand-name {
  font-size: 1.5rem;
  color: red;
  font-weight: 600;
}

.brand .brand-subtitle {
  font-size: 1.5rem;
  color: black;
  font-weight: 600;
}

.navList li a {
  color: black;
  position: relative;
  font-family: "Archivo", sans-serif;
  font-weight: 600;
}
.navList li a:hover {
  background-color: rgba(227, 23, 64, 0.7568627451);
  padding-top: 1.39rem;
  padding-bottom: 1.84rem;
  padding-left: 0.6rem;
  padding-right: 0.8rem;
  color: white;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  display: block;
  padding: 12px;
  text-decoration: none;
  color: #333;
}

.dropdown:hover .dropdown-content {
  display: block;
  margin-top: 1.5rem;
}

.toggle {
  display: none;
}

.second-section-container {
  position: relative;
}

.heroBanner {
  background: url(./media/banner-1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 45rem;
}

.bannerNote {
  position: absolute;
  left: 12rem;
  top: 18rem;
  bottom: 0;
  right: 0;
}
.bannerNote h1 {
  font-size: 3rem;
  text-transform: capitalize;
  font-weight: bolder;
}
.bannerNote p {
  text-transform: capitalize;
  margin: 1rem 0;
  font-weight: 600;
}
.bannerNote button {
  background-color: rgba(227, 23, 64, 0.7568627451);
  padding: 0.5rem 1rem;
  color: white;
  text-transform: capitalize;
  border-radius: 1rem;
}

.second-section {
  text-align: center;
}
.second-section h2 {
  font-size: 1.5rem;
  font-weight: bold;
}
.second-section p {
  margin: 1rem 0;
}
.second-section .serviceContainer .sm-col-30 {
  flex: 0 1 25%;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  margin-right: 1.5rem;
  padding: 1rem;
  text-align: center;
  border-radius: 0.8rem;
  margin-bottom: 5rem;
}
.second-section .serviceContainer .service-heading {
  font-weight: lighter;
  font-size: 1rem;
  margin: 1rem 0;
}
.second-section .serviceContainer p {
  padding: 0.5rem 0;
  color: rgba(0, 0, 0, 0.3);
}
.second-section .serviceContainer a {
  color: rgba(227, 23, 64, 0.7568627451);
  border: 0.1rem solid rgba(227, 23, 64, 0.7568627451);
  padding: 0.4rem 0.9rem;
  border-radius: 1.2rem;
  text-transform: capitalize;
}
.second-section .serviceContainer a:hover {
  background-color: rgba(227, 23, 64, 0.7568627451);
  color: white;
}

.third-section {
  background-color: #dad9d9;
  text-align: center;
  padding: 3rem 0;
}
.third-section h2 {
  text-transform: capitalize;
  font-weight: bolder;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.third-section p {
  color: rgba(0, 0, 0, 0.4);
  margin-bottom: 2rem;
}
.third-section a {
  color: rgba(227, 23, 64, 0.7568627451);
  border: 0.1rem solid rgba(227, 23, 64, 0.7568627451);
  padding: 0.4rem 0.9rem;
  border-radius: 1.2rem;
  text-transform: capitalize;
  margin-bottom: 1rem;
}
.third-section a:hover {
  background-color: rgba(227, 23, 64, 0.7568627451);
  color: white;
}

.sm-col-50 {
  flex: 0 1 50%;
}

.fourth-section-container {
  overflow: hidden;
  margin-top: 5rem;
  margin-bottom: 10rem;
}
.fourth-section-container .fourth-section-container-1 {
  text-align: center;
}
.fourth-section-container .fourth-section-container-1 img {
  margin-bottom: 2rem;
}
.fourth-section-container .fourth-section-container-1 h2 {
  font-weight: bold;
  font-size: 2rem;
  text-transform: capitalize;
  margin-bottom: 2rem;
}
.fourth-section-container .fourth-section-container-1 p {
  font-size: 1.1rem;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 3rem;
}
.fourth-section-container .fourth-section-container-1 a {
  color: rgba(227, 23, 64, 0.7568627451);
  border: 0.1rem solid rgba(227, 23, 64, 0.7568627451);
  padding: 0.4rem 0.9rem;
  border-radius: 1.2rem;
  text-transform: capitalize;
}
.fourth-section-container .fourth-section-container-1 a:hover {
  background-color: rgba(227, 23, 64, 0.7568627451);
  color: white;
}
.fourth-section-container .fourth-section-container-2 {
  background: url(./media/team.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 80vh;
  padding-bottom: 60vh;
}

.fifth-section {
  background-color: rgba(227, 23, 64, 0.7568627451);
  padding: 4.5rem;
  margin-bottom: 6rem;
}
.fifth-section h2 {
  text-transform: capitalize;
  color: white;
  margin-bottom: 0.5rem;
}
.fifth-section p {
  font-size: 0.8rem;
  color: white;
}
.fifth-section a {
  border: 0.1rem solid white;
  padding: 0.6rem 1.2rem;
  border-radius: 1rem;
  color: white;
  text-transform: capitalize;
}
.fifth-section a:hover {
  background-color: white;
  color: rgba(227, 23, 64, 0.7568627451);
}

.sixth-section .sixth-section-note h2 {
  font-size: 2rem;
  font-weight: bolder;
  margin-bottom: 1rem;
  line-height: 1.5;
  text-transform: capitalize;
}
.sixth-section .sixth-section-note p {
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.5);
  line-height: 1.5;
}
.sixth-section .sixth-section-hero {
  background: url(./media/img-woman-1.jpg) no-repeat;
  background-size: cover;
  padding-left: 80vh;
  padding-bottom: 65vh;
}

.seventh-section {
  background-color: rgba(167, 167, 167, 0.1);
  padding: 2rem;
}
.seventh-section h2 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bolder;
  margin-bottom: 2rem;
}
.seventh-section .img-hero img {
  filter: grayscale(100%);
  opacity: 10%;
  margin-right: 1rem;
  padding-bottom: 2rem;
}
.seventh-section img:hover {
  filter: brightness(100%);
  opacity: 100%;
}

footer {
  background-color: black;
  color: #c0baba;
}
footer .footerNav {
  padding: 3rem 0;
}
footer .ul-1 li:first-child {
  margin-top: 2rem;
}
footer .ul-1 li {
  margin: 1rem 0;
}
footer .socialMedia {
  margin-top: 2rem;
}
footer .socialMedia li {
  margin-right: 1rem;
}
footer .copyright {
  text-align: center;
  padding-bottom: 3.5rem;
}

.service-section-1 {
  background-color: rgba(227, 23, 64, 0.7568627451);
  text-align: center;
  padding: 2rem;
}
.service-section-1 h2 {
  font-size: 2rem;
  color: white;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.service-section-1 p {
  color: white;
  margin-bottom: 0.5rem;
}

.service-section-2-text {
  margin-right: 12rem;
  line-height: 1.5;
}
.service-section-2-text p:nth-of-type(1) {
  color: rgba(227, 23, 64, 0.7568627451);
  margin: 1rem 0;
  font-size: 1.5rem;
}
.service-section-2-text h2 {
  font-size: 2rem;
  font-weight: bold;
  text-transform: capitalize;
  margin-bottom: 1rem;
  line-height: 1.5;
}
.service-section-2-text p:nth-of-type(2) {
  font-size: 1rem;
}

.service-section-2-hero {
  background: url(./media/business-1.jpg) no-repeat;
  width: 80vh;
  height: 60vh;
  background-size: cover;
}

.service-section-3 .heading-service-section-3 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 1rem 0;
}
.service-section-3 .sub-heading-service-section-3 {
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 5rem;
}
.service-section-3 .serviceContainer {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
}
.service-section-3 .serviceContainer div {
  width: 30%;
  margin: 1rem auto;
  padding: 1rem;
}
.service-section-3 .serviceContainer img {
  width: 18%;
}
.service-section-3 .serviceContainer h2 {
  font-weight: 600;
  margin: 1rem 0;
}
.service-section-3 .serviceContainer p {
  color: rgba(0, 0, 0, 0.6);
}

.service-section-4 {
  background-color: rgba(227, 23, 64, 0.7568627451);
  margin: 2rem 0;
  padding: 2.5rem 0;
}
.service-section-4 div h2 {
  font-size: 1.1rem;
  color: white;
}
.service-section-4 div a {
  border: 2px solid rgba(255, 255, 255, 0.2);
  padding: 0.8rem 1.3rem;
  font-weight: 500;
  border-radius: 2rem;
  color: rgba(255, 255, 255, 0.7);
  text-transform: capitalize;
}
.service-section-4 div a:hover {
  color: rgba(227, 23, 64, 0.7568627451);
  background-color: #fff;
}

.service-section-5 {
  text-align: center;
}
.service-section-5 h2 {
  font-weight: bolder;
  font-size: 2rem;
  margin: 1rem 0;
}
.service-section-5 p {
  color: rgb(171, 171, 171);
  line-height: 1;
  margin-bottom: 2rem;
}

.service-section-5-container {
  max-width: 400px;
  margin: 0 auto;
  max-width: 986px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: top;
}

.service-section-5-text {
  text-align: center;
  margin-right: 1rem;
}
.service-section-5-text img {
  margin: 1rem 0;
}
.service-section-5-text h2 {
  font-size: 2rem;
  font-weight: bolder;
  margin: 1rem 0;
  line-height: 1.5;
}
.service-section-5-text p {
  font-size: 1rem;
  line-height: 1.5;
}

.service-section-5-image {
  background: url(./media/business-4.jpg) no-repeat;
  background-size: cover;
  width: 200vh;
  height: 50vh;
  background-position: center;
}

.error-container {
  max-width: 786px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 4rem;
}
.error-container h2 {
  font-weight: bolder;
  font-size: 1.5rem;
  margin: 1rem 0;
}
.error-container p {
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.9);
}
.error-container .error-item-container {
  padding: 2rem;
}
.error-container .error-item-1 i {
  background-color: rgba(128, 128, 128, 0.2);
  padding: 1.2rem 1.2rem;
  font-size: 1.2rem;
  color: rgba(227, 23, 64, 0.7568627451);
  border-radius: 50%;
  margin: 1rem 0;
}
.error-container .error-item-1 .error-item-1, .error-container .error-item-1 p:nth-last-of-type(1) {
  color: red;
  font-size: 0.8rem;
}
.error-container .error-item-1 .error-item-1, .error-container .error-item-1 p:nth-last-of-type(2) {
  color: black;
  font-size: 1.2rem;
  text-transform: capitalize;
  font-weight: 600;
  margin: 1rem 0;
}

.abacgv {
  margin-bottom: 2rem;
  text-align: center;
  color: rgb(171, 171, 171);
}

.price-section {
  background-color: silver;
  padding-bottom: 2rem;
}

.price-container {
  max-width: 786px;
  margin: 0 auto;
  padding: 1rem;
}

.price-box div {
  background-color: white;
  border: 1px solid rgba(128, 128, 128, 0.2);
  margin-right: 2rem;
  text-align: center;
  width: 25rem;
  height: 22rem;
}
.price-box div p {
  margin: 1rem 0;
}
.price-box div ul {
  margin: 2rem 0;
  color: rgb(171, 171, 171);
  font-weight: bold;
  font-size: small;
}
.price-box li {
  margin: 0.5rem 0;
  color: rgb(171, 171, 171);
  font-weight: lighter;
}
.price-box a {
  border: 2px solid rgba(227, 23, 64, 0.7568627451);
  padding: 0.5rem 1.5rem;
  border-radius: 2rem;
  color: rgba(227, 23, 64, 0.7568627451);
}

.non-price {
  text-transform: capitalize;
  font-size: small;
  color: rgb(171, 171, 171);
}

.price {
  font-size: 2rem;
  font-weight: bolder;
}

.faq-section h2 {
  text-align: center;
  margin-top: 5rem;
  font-weight: bolder;
  font-size: 1.5rem;
}
.faq-section p {
  text-align: center;
  color: rgb(171, 171, 171);
  font-size: 0.9rem;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.faq-cont {
  max-width: 1086px;
  margin: 0 auto;
  flex-wrap: wrap;
  gap: 1rem 1rem;
  padding: 1rem;
}
.faq-cont div {
  border: 2px solid rgba(128, 128, 128, 0.2);
  width: 22rem;
  flex-grow: 1;
  padding: 2rem 0;
}
.faq-cont div h3 {
  margin: 1rem 1rem;
}
.faq-cont div p {
  margin: 0 1rem;
  color: silver;
  text-align: left;
}

.contact-section {
  margin: 5rem 0;
  text-align: center;
}
.contact-section h2 {
  font-size: 2rem;
  text-transform: capitalize;
  font-weight: bold;
  margin: 1rem 0;
}
.contact-section p {
  font-size: 1rem;
  margin-bottom: 4rem;
  color: rgb(171, 171, 171);
}

.contact-cont {
  max-width: 786px;
  padding: 1rem;
  margin: 0 auto;
}
.contact-cont .contact-map {
  margin-right: 1.4rem;
}

.contact-bar input {
  display: inline-block;
  border: 1px solid rgb(171, 171, 171);
  height: 2rem;
  width: 25rem;
  text-align: left;
  box-sizing: border-box;
}
.contact-bar #email {
  margin: 1rem 0;
}
.contact-bar #message {
  height: 22vh;
  border-color: rgb(171, 171, 171);
  text-transform: capitalize;
}
.contact-bar button {
  width: 40%;
  display: block;
  margin: 2rem auto;
  padding: 1rem;
  text-transform: capitalize;
  background-color: rgba(227, 23, 64, 0.7568627451);
  color: white;
  border-radius: 2rem;
}

@media (max-width: 1468px) {
  html {
    font-size: 1.6rem;
  }
  body {
    background-color: rgba(189, 183, 107, 0.5);
    overflow-x: hidden;
  }
  .small-col {
    flex-direction: column;
    align-items: center;
  }
  #toggle {
    display: none;
  }
  .toggle {
    display: block;
    background-color: rgba(227, 23, 64, 0.7568627451);
    padding: 0.12rem 0.52rem;
    color: white;
  }
  .toggle i {
    margin: 0.2rem 0;
  }
  .navList {
    position: absolute;
    right: 0;
    left: 0;
    top: 5rem;
    bottom: 0;
    z-index: 99;
    background-color: rgba(227, 23, 64, 0.7568627451);
    text-align: center;
    margin: 0 12rem;
    height: 97vh;
  }
  .navList li {
    margin: 5rem 0;
  }
  .dropdown {
    position: relative;
  }
  .dropdown-content {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 1;
    background-color: darkgrey;
  }
  .faq-section p {
    color: #333;
  }
  .faq-cont div {
    background-color: darkcyan;
  }
  .service-section-2-text {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 2rem;
  }
  .ul-1 {
    text-align: center;
    color: rebeccapurple;
  }
  .ps {
    padding: 2rem;
  }
  .ms {
    margin: 1rem 0;
  }
  .ms-2 {
    margin: 2rem 0;
  }
  .order1 {
    order: 1;
  }
  .order2 {
    order: 2;
  }
}
@media (max-width: 986px) {
  html {
    font-size: 1.6rem;
  }
  body {
    background-color: rgba(189, 183, 107, 0.5);
    overflow-x: hidden;
  }
}
@media (max-width: 786px) {
  html {
    font-size: 1.2rem;
    scroll-behavior: auto;
  }
  .navList {
    height: 100vh;
  }
}
@media (max-width: 555px) {
  html {
    font-size: 1.2rem;
  }
  body {
    background-color: rgba(189, 183, 107, 0.5);
  }
  .navList {
    height: 162vh;
    width: 50vh;
  }
}/*# sourceMappingURL=style.css.map */